<h3>Join a Chat Room</h3>

<div class="container">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">&</span>
        <input type="text" class="form-control" placeholder="Enter your Username:" aria-label="Username" aria-describedby="addon-wrapping">
        <button class="btn btn-outline-secondary" type="button" id="btnUsername">Join Room</button>
    </div>
</div>

@code {

}
